/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';


body {
  @apply font-sans
}
